<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    
    <title>To Do List</title>
</head>
<body>
    <div class="navBar">
        <div class="opt">Today</div>
        <div class="opt">Last Week</div>
        <div class="opt">Last Year</div>
    </div>
    <div class="mainContainer">
        <h1>Your To Do Today</h1>
        <div class="date"><%= new Date().getDay() %>:<%= new Date().getDate() %>:<%= new Date().getMonth() %>:<%= new Date().getFullYear() %></div>
        <div class="todoContainer">
            <% if (locals.listTodo && locals.listTodo.length > 0) { %>
                <% for( let index = 0; index < locals.listTodo.length; index++ ) { %>
                    <div class="list">
                        <input type="checkbox" class="cBox" id="checkbox<%= index %>" value="nilaioption<%= index %>">
                        <label for="checkbox<%= index %>"><%= listTodo[index] %></label>
                    </div>
                <% } %>
            <% } else { %>
                <div class="list">
                    <input type="checkbox" class="cBox" id="checkbox1" value="nilai1">
                    <label for="checkbox">Add new to do</label>
                </div>
            <% } %>
                <form id="form" action="/added" method="POST">
                    <div class="add">
                        <textarea class="list" name="newTodo" id="addTodo" cols="30" rows="10"></textarea>
                        <button class="btn" type="submit">+</button>
                    </div>
                </form>
        </div>
    </div>
    <script>
        var form = document.getElementById('form');
        var textArea = document.getElementById('addTodo');

        form.addEventListener("submit", function (event) {
            if (textArea.value.trim() === "") {
                event.preventDefault(); 
                alert('Type some text in text box!');
            };
        });
    </script>
</body>
</html>